.doneButton{
	color:#666666;
	border:1px #666666 solid;
	background-color:#ffffff;
	z-index:999999;
	position:fixed;
	top:0px;
	left:0px;
	height:38px;
	width:38px;
	border-radius:50%;
	font-weight:bold;
	background-image: url(http://game.opl.kr/assets/images/close.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}